MONGODB_URI=
MONGODB_DB=areebadesigncoNewest
RESEND_API_KEY=
RESEND_FROM="1Antiq Sellers <no-reply@1antiq.in>"
AUTH_TOKEN_PEPPER=
SESSION_SECRET=
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=mhd123hamzah@gmail.com
AWS_S3_BUCKET=
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PREFIX=makerly
AWS_S3_PUBLIC_BASE=
